<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../views/header') %>
    <title>Edit</title>
</head>
<body dir="rtl">
    <div class="container my-5 p-4 form-control">
        <h2 class="mb-2">ویرایش</h2>
    <hr>
    <form action="/editsave" method="post">
        <input type="hidden" name="edit_tell_id" value="<%= tells._id %>">
        <label  for="personName">نام</label>
        <input type="text" placeholder="نام/نامخانوادگی/سمت" name="personName" id="personName" class="" value="<%= tells.name %>">
        <label  for="personTell">داخلی/تلفن</label>
        <input type="text" placeholder="تلفن/موبایل/داخلی" name="personTell" id="personTell" value="<%= tells.tell %>">
        <input type="submit" value="ذخیره" class="btn btn-sm btn-success">
        <input type="button" value="بازگشت" class="btn btn-sm btn-info" onclick="history.back()">
    </form>    
</div>
</body>
</html>
